{% extends 'base.html' %}

{% block content %}
    <!-- Carousel Start -->
    {% include 'components/carousel.html' %}
    <!-- Carousel End -->


    <!-- Featured Start -->
    {% include 'components/featured.html' %}
    <!-- Featured End -->


    <!-- Categories Start -->
    {% include 'components/categories.html' %}
    <!-- Categories End -->


    <!-- Products Start -->
    {% include 'components/products1.html' %}
    <!-- Products End -->


    <!-- Offer Start -->
    {% include 'components/offer.html' %}
    <!-- Offer End -->


    <!-- Products Start -->
    {% include 'components/products2.html' %}
    <!-- Products End -->


    <!-- Vendor Start -->
    {% include 'components/vendor.html' %}
    <!-- Vendor End -->
{% endblock %}