{% extends 'base.html' %}

{% block content %}
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width mx-auto" style="max-width: 400px;">
                <div class="user-form shadow p-4 rounded bg-white">
                    <div class="contact-form">
                        <h2 class="text-center mb-4">Login Now</h2>

                        <!-- Non-field errors -->
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                {{ form.password }}
                                {% for error in form.password.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a href="{% url 'user:register' %}" class="btn btn-dark">Register</a>
                                <a href="{% url 'user:password_reset' %}" class="text-primary float-end">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
