{% extends 'base.html' %}

{% block content %}
    <div class="container pb-3 pl-5 pr-5 mt-3">
        <div class="row gutters">
            <div class="col-md-6 offset-md-3 bg-white">
                <h1 class="mt-5">Parolni almashtirish</h1>
                <form method="post" name="changePassword" action="{% url 'user:password_change' %}">
                    {% csrf_token %}
                    {{ password_form }}
                    <div class="row mb-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <a href="{% url 'user:profile' %}" class="btn form-control btn-dark mt-3"
                               style="border-radius: 10px;">
                                <i class="fa fa-backward"></i> Cancel
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <button type="submit" class="btn form-control btn-primary mt-3"
                                    style="border-radius: 10px;">
                                Saqlash
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}