{% extends 'base.html' %}


{% block content %}
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width mx-auto" style="max-width: 400px;">
                <div class="user-form shadow p-4 rounded bg-white">
                    <div class="contact-form">
                        <h2 class="text-center mb-4">Reset password</h2>

                        <!-- Non-field errors -->
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                {{ reset_form.email }}
                                {% for error in reset_form.email.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

